*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url(Poxast-Regular.ttf);
}

/* header css start */
nav{
    background-color: #28179C;
    max-width: 70%;
    margin: auto;
    height: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nav-container{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pearl-icon{
    width: 60px;
    height: 60px;
   
}
.pearl-text{
    font-size: 18px;
    font-weight: 400;
    color: white;
    font-family: myFont;
    margin-top: 5px;
    
}
ul li{
    list-style-type: none;
}

ul li a{
    color: white;
    text-decoration: none;
    padding: 0 8px;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 500;
}



.header-description{
    text-align: center;
    margin-top: 50px;
}
.header-description h1{
    font-size: 100px;
    margin-bottom: 30px;
    font-family: myFont;
}
.header-description p{
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-whitepaper{
    height: 55px;
    width: 173px;
    background-color: #13EBFF;
    border-radius: 30px;
    border: none;
    gap: 10px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.btn-chart{
    height: 55px;
    width: 173px;
    gap: 20px;
    border-radius: 30px;
    color: #3A6BD6;
    font-size: 18px;
    font-weight: 700;
    border: none;
}
/* header css end */

/* main css start */
.buy-now-section{
    margin-top: 100px;
}
.buy-now-section h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 40px;
}
.buy-now-body{
    width: 80%;
    margin: auto;

}
.buy-now-card{
    background-color: #132651;
    width: 350px;
    height: 100px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px #0632FF;
}

.buy-now-card img{
    width: 200px;
    height: 57px;
    position: absolute;
    top: 20px;
    left: 25px;
}
.buy-now-card h1{
    position: absolute;
    top: 25px;
    left: 55px;
    color: white;
    font-weight: 400;
    font-size: 40px;
}

.buy-now-body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;
}

.about-sea-perl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 50px;
    margin-bottom: 80px;
}
.about-sea-perl img{
    width: 450px;
    height: 400px;
}
.about-sea-perl h3{
    font-size: 33px;
    line-height: 70px;
    font-weight: 500;
    font-family: myFont;
}
.about-sea-perl p{
    font-size: 17px;
    line-height: 33px;
    font-weight: 400;
}

.our-features{
    text-align: center;
    margin-bottom: 70px;
}
.our-features h4{
    font-size: 30px;
    line-height: 56px;
    font-family: myFont;
}
.our-features p{
    font-size: 17px;
    line-height: 25px;
}

.features-container{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 20px;
    margin-left: 200px;
    margin-bottom: 150px;

}
.features-card{
    text-align: center;
    background-color: #15376D;
    width: 350px;
    height: 280px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 1px 5px 1px 2px #0632FF;
}

.features-card h5{
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color: white;
}
.features-card p{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: white;
}
.features-card img{
    width: 53px;
    height: 53px;
    margin: 5px;
}
.pearlswap-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.pearlswap-container h3{
    font-size: 35px;
    line-height: 56px;
    font-weight: 400;
    font-family: myFont;
}
.pearlswap-container p{
    font-size: 18px;
    line-height: 33px;
    font-weight: 400;
}
.pearlswap-container img{
    width: 400px;
    height: 400px;
}
.pearlswap-desc{
    margin-left: 40px;
}
.btn-developing{
    height: 55px;
    width: 218px;
    background-color: #13EBFF;
    border-radius: 30px;
    border: none;
    gap: 10px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    padding: 0 10px;
    border: 2px solid #EC3593;
}

.roadmap-section{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    margin-left: 200px;
    margin-bottom: 80px;
}

.roadmap-head{
    font-size: 33px;
    font-weight: 400;
    line-height: 56px;
    text-align: center;
    margin-bottom: 60px;
    font-family: myFont;
}

.roadmap-container{
    width: 350px;
    height: 320px;
    margin-bottom: 50px;
    position: relative;
}
.roadmap-body{
    background-color: #061733;
    width: 350px;
    height: 190px;
    border-radius: 10px;
    box-shadow: 1px 5px 1px 1px #0632FF;
    margin-bottom: 50px;
}
.roadmap-btn{
    margin-bottom: 80px;
    margin-left: 90px;
    background-color: #13EBFF;
    width: 160px;
    height: 66px;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;  
}

.roadmap-line{
    border: 1px solid rgba(0, 0, 0, 0);
    position: absolute;
    width: 105px;
    top: 100px;
    left: 120px;
    rotate: -90deg;
    
}

.roadmap-container img{
    position: absolute;
    top: 145px;
    left: 151px;
}
.roadmap-desc{
    position: absolute;
    bottom: 30px;
    left: 60px;
}
.roadmap-container p{
    color: white;
    font-size: 18px;
    line-height: 10px;
    font-weight: 700;
}

.our-tokenomics{
    font-size: 33px;
    line-height: 56px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    font-family: myFont;
}
.tokenomics-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

.token-container img{
    height: 500px;
    width: 630px;
    margin-left: 90px;
}
.token-info{
    display: flex;
    justify-content:flex-start;
    gap: 10px;
    align-items: center;
    background-color: #061733;
    width: 450px;
    height: 70px;
    margin: 10px 0px;
    padding: 5px 10px;
    border-radius: 10px;
}
.more-token-info-container{
    margin-right: 80px;
}
.token-info h4{
    color: white;
    font-size: 16px;
    margin-top: 8px;
}

.partner-section{
    display: flex;
    background-color: #061733;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: 320px;
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.partners{
    font-size: 33px;
    line-height: 56px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    font-family: myFont;
}
/* end of main css */

/* start footer css */
.miss-out{
    font-size: 33px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    font-family: myFont;
}
.footer-section{
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
.footer-section input{
    background-color: #191919;
    height: 80px;
    width: 1100px;
    border-radius: 1000px;
    margin-bottom: 50px;
}
.footer-section button{
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: #13EBFF;
    border-radius: 1000px;
    right: 215px;
    top: 5px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.footer-section p{
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 30px;
}
.footer-icons{
    margin-bottom: 30px;
}
.footer-icons img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
}
.copy{
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
}

/* responsive css */

@media(max-width : 530px){
    
    nav{
        width: 100%;
    }
    nav ul li a{
        display: none;
    }
    .header-description h1{
        font-size: 40px;
    }
    .header-description p{
        font-size: 16px;
    }
    .buy-now-section{
        font-size: 18px;
    }
    .buy-now-body{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
    }
    .about-sea-perl{
        flex-direction: column;
    }
    .about-sea-perl h3{
        font-size: 25px;
        text-align: center;
    }
    .about-sea-perl p{
        font-size: 16px; 
        margin-left: 5px; 
    }
    .our-features h4{
        font-size: 25px;
    }
    .our-features p{
        font-size: 15px;
    }
    .features-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        margin-left: 60px;
        margin-bottom: 50px;
        
    }
    .pearlswap-container{
        flex-direction: column;
    }
    .pearlswap-desc{
        text-align: center;
        margin-right: 25px;
    }
    .pearlswap-desc h3{
        font-size: 25px;
    }
    .pearlswap-desc p{
        font-size: 18px;
    }
    .btn-developing{
        
        margin-bottom: 20px;
    }
    .roadmap-head{
        font-size: 25px;
    }
    .roadmap-section{
       display: grid;
       grid-template-columns: repeat(1 ,200px);
       margin: auto;
       margin-left: 65px;
       margin-bottom: 50px;
    }
    .our-tokenomics{
        font-size: 25px;
    }
    .tokenomics-container{
        flex-direction: column;
    }
    .token-container img{
        width: 100%;
        margin: auto;
        margin-bottom: 40px;
    }
    .more-token-info-container{
        margin-left: 75px;
    }
    .partners{
        font-size: 25px;
    }
    .partner-section{
        flex-direction: column;
        margin: auto;
        margin-bottom: 80px;
    }
    .partner-section img{
        padding: 10px 0px;
    }
    .miss-out{
        font-size: 25px;
    }
    .footer-section input{
        width: 450px;
    }
    .footer-section button{
        width: 100px;
        position: absolute;
        right: 25px;
        border-radius: 100px;
        font-size: 16px;
    }
    .footer-section p{
        font-size: 18px;
    }
}









